
<!DOCTYPE html>
<html>
  <head>
    <title>MongoDB Attempt</title>
  </head>
  <body>
    <h1>Mongo is the world's #1 football web app.</h1>
    <ul>
      {{#each users}}
      <li>

        Name: {{name}} // Age: {{age}} // Roles: {{#each roles}}-{{this}}-{{/each}}

      </li>
      {{/each}}
    </ul>
  </body>
</html>
