<!DOCTYPE html>
<html>
  <head>
    <title>Mongo</title>
  </head>
  <body>
    <h2>Mongo Like Candy</h2>

    <ul>
      {{#each users}}
      <li>
        <div>
          <p>Name: {{name}}</p>
          <p>Age: {{age}}</p>
          <p>Roles:
            <ul>
              {{#each roles}}
              <li>{{this}}</li>
              {{/each}}
            </ul></p>
        </div>
      </li>
      {{/each}}
    </ul>

  </body>
</html>
